# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board
NET "clk_50" LOC = "B8";
NET "clk_50" CLOCK_DEDICATED_ROUTE = FALSE;

# Pin assignment for DispCtl
# Connected to Basys2 onBoard 7seg display
NET "seven_segment<0>" LOC = "L14"; # Bank = 1, Signal name = CA
NET "seven_segment<1>" LOC = "H12"; # Bank = 1, Signal name = CB
NET "seven_segment<2>" LOC = "N14"; # Bank = 1, Signal name = CC
NET "seven_segment<3>" LOC = "N11"; # Bank = 2, Signal name = CD
NET "seven_segment<4>" LOC = "P12"; # Bank = 2, Signal name = CE
NET "seven_segment<5>" LOC = "L13"; # Bank = 1, Signal name = CF
NET "seven_segment<6>" LOC = "M12"; # Bank = 1, Signal name = CG
NET "seven_segment<7>" LOC = "N13"; # Bank = 1, Signal name = DP

NET "digit_select<3>" LOC = "K14"; # Bank = 1, Signal name = AN3
NET "digit_select<2>" LOC = "M13"; # Bank = 1, Signal name = AN2
NET "digit_select<1>" LOC = "J12"; # Bank = 1, Signal name = AN1
NET "digit_select<0>" LOC = "F12"; # Bank = 1, Signal name = AN0

# Pin assignment for LEDs
NET "alarm" LOC = "G1" ; # Bank = 3, Signal name = LD7
#NET "alarm" LOC = "P4" ; # Bank = 2, Signal name = LD6
#NET "Led<5>" LOC = "N4" ;  # Bank = 2, Signal name = LD5
#NET "Led<4>" LOC = "N5" ;  # Bank = 2, Signal name = LD4
#NET "Led<3>" LOC = "P6" ; # Bank = 2, Signal name = LD3
#NET "z2" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "clk_display" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "release_can" LOC = "M5" ;  # Bank = 2, Signal name = LD0

# Pin assignment for SWs
NET "sel_man" LOC = "N3";  # Bank = 2, Signal name = SW7
NET "reset" LOC = "E2";  # Bank = 3, Signal name = SW6
#NET "sw<5>" LOC = "F3";  # Bank = 3, Signal name = SW5
NET "price<4>" LOC = "G3";  # Bank = 3, Signal name = SW4
NET "price<3>" LOC = "B4";  # Bank = 3, Signal name = SW3
NET "price<2>" LOC = "K3";  # Bank = 3, Signal name = SW2
NET "price<1>" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "price<0>" LOC = "P11";  # Bank = 2, Signal name = SW0

NET "buy" LOC = "A7";  # Bank = 1, Signal name = BTN3
NET "coin5" LOC = "M4";  # Bank = 0, Signal name = BTN2
NET "coin2" LOC = "C11"; # Bank = 2, Signal name = BTN1
NET "clk_man" LOC = "G12"; # Bank = 0, Signal name = BTN0
NET "clk_man" CLOCK_DEDICATED_ROUTE = FALSE;